
.publicContent {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.publicContent:hover .publicIcon {
    transform: scale(1);
    transition: all .3s ease-in-out;
}

.publicIcon {
    background: #161513;
    color: #fff;
    width: 75px;
    height: 75px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    user-select: none;
    font-size: 2.3rem;
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

.publicContent .row .column:nth-child(3) .publicBox,
.publicContent .row .column:nth-child(4) .publicBox {
    margin: 0;
}

.publicBox {
    border-style: solid;
    border-width: 2px;
    border-color: #161513;
    margin-bottom: 30px;
    transition: all .1s ease-in-out;
}

.publicBox a {
    display: block;
    padding: 15px 30px 18px;
}

.publicDetails {}
.publicDetails span {}
.publicDetails h4 {
    margin: 0;
    font-size: 19px;
    margin-top: 5px;
    font-family: 'Arvo', serif;
}

.publicBox:hover {
    background-color: #101118;
    color: #fff;
    transition: all .1s ease-in-out;
}

.publicBox:hover a,
.publicBox:hover h4 {
    color: #fff;
}


/* X-Small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
	.publicIcon {
        display: none;
    }
    .publicContent .row .column:nth-child(3) .publicBox,
    .publicContent .row .column:nth-child(4) .publicBox {
        margin-bottom: 30px;
    }
}


/* Small devices (landscape phones, less than 768px) */
@media only screen and (min-width: 575.99px) and (max-width: 767.98px) {
	.publicIcon {
        display: none;
    }
    .publicContent .row .column:nth-child(3) .publicBox,
    .publicContent .row .column:nth-child(4) .publicBox {
        margin-bottom: 30px;
    }
}


/* Medium devices (tablets, less than 992px) */
@media only screen and (min-width: 767.99px) and (max-width: 991.98px) {
	.publicIcon {
        display: none;
    }
    .publicContent .row .column:nth-child(3) .publicBox,
    .publicContent .row .column:nth-child(4) .publicBox {
        margin-bottom: 30px;
    }
}

/* Large devices (desktops, less than 1200px) */
@media only screen and (min-width: 991.99px) and (max-width: 1199.98px) {
	.publicIcon {
        display: none;
    }
    .publicContent .row .column:nth-child(3) .publicBox,
    .publicContent .row .column:nth-child(4) .publicBox {
        margin-bottom: 30px;
    }
}