@import 'bootstrap/dist/css/bootstrap.min.css';

@import '~antd/dist/antd.css';

html,
body {
  padding: 0;
  margin: 0;
  background: #f0f2f5;
}

@font-face {
  font-family: "HACKED";
  src: url("/fonts/HACKED.eot");
  src: url("/fonts/HACKED.eot?#iefix") format("embedded-opentype"),
    url("/fonts/HACKED.woff2") format("woff2"),
    url("/fonts/HACKED.woff") format("woff"),
    url("/fonts/HACKED.ttf") format("truetype"),
    url("/fonts/HACKED.svg#HACKED") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/BebasNeueBold.eot');
  src: url('/fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/BebasNeueBold.woff2') format('woff2'),
      url('/fonts/BebasNeueBold.woff') format('woff'),
      url('/fonts/BebasNeueBold.ttf') format('truetype'),
      url('/fonts/BebasNeueBold.svg#BebasNeueBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pdd70 {
  padding: 70px 0;
}

p {
  font-family: 'Arvo', serif;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #101118 !important;
  padding-left: 40px;
}
.Info_tabWindowLink__h0k9z.active:focus,
.Info_tabWindowLink__h0k9z.active:hover {
  background-color: #fff !important;
}

.Info_tabWindowLink__h0k9z.active {
  background-color: #fff !important;
  transition: width .3s ease-in-out;
  width: 200px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 40px;
}

.d-overlay {
  position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #101118;
    opacity: .8;
}

.l-overlay {
  position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #f0f2f5;
    opacity: .4;
}

.__react_modal_image__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row-reverse;
}

.__react_modal_image__icon_menu,
.__react_modal_image__icon_menu a {
  display: flex !important;
    align-items: center;
}

.__react_modal_image__caption {
  font-family: 'Arvo', serif;
  font-size: 100% !important;
}

.__react_modal_image__modal_content img, .__react_modal_image__modal_content svg {
  width: auto !important;
    max-width: fit-content !important;
    min-width: fit-content;
    height: auto !important;
    /* max-height: fit-content !important; */
    min-height: fit-content !important;
}

strong {
  color: #101118;
}

.ql-editor {
  min-height: 400px;
  background: #fff;
}

.blogBox {
  margin-bottom: 50px;
  background-color: #fff;
  position: relative;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  padding: 20px;
  font-family: 'Arvo', serif;
  padding-top: 40px;
}

.blogBox h5 {
  background: #101118;
  padding: 8px 18px;
  color: #fff;
  margin: 0;
  display: inline-block;
  position: absolute;
  top: -22px;
}

.blogBox h5 svg {
  margin-right: 10px;
}

.form-check-label {
  cursor: pointer;
}

.form-wrapper {
  background-color: #fff;
  position: relative;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  padding: 30px;
}

.input-control {
  font-family: 'Arvo', serif;
  color: #101118;
  box-shadow: none !important;
  outline: none !important;
  font-size: 14px;
  padding: 15px 20px;
  background: #e9ebef;
  border: 2px solid transparent;
  transition: all .2s ease-in-out;
  border-radius: 0;
}

.input-control:focus {
  color: #101118;
  background: #e9ebef;
  border-color: #101118;
}

.input-control.bg-darker {
  background: #fff;
}

.label-control {
  font-family: 'Arvo', serif;
  font-size: 18px;
}

.delete-table-icon {
  border: none;
  background: transparent;
  padding: 0;
  height: auto;
  font-size: 18px;
}

.f-size-18 {
  font-size: 18px;
}

.ant-table-wrapper .ant-pagination ul li {
  font-family: 'Arvo', serif;
}

.ant-table-wrapper .ant-pagination .ant-pagination-prev:not(.ant-pagination-disabled) button:hover,
.ant-table-wrapper .ant-pagination .ant-pagination-next:not(.ant-pagination-disabled) button:hover,
.ant-table-wrapper .ant-pagination .ant-pagination-item:hover,
.ant-table-wrapper .ant-pagination .ant-pagination-item a:hover {
  border-color: #101118;
  color: #101118;
}

.ant-table-wrapper .ant-pagination .ant-pagination-item.ant-pagination-item-active {
      border-color: #101118;
      background: #101118;
      color: #fff;
}

.ant-table-wrapper .ant-pagination .ant-pagination-item.ant-pagination-item-active a {
  background: #101118;
  color: #fff;
}

.ant-table-wrapper .ant-pagination .ant-pagination-prev button,
.ant-table-wrapper .ant-pagination .ant-pagination-next button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-button {
  display: block;
  position: relative;
  outline: none;
  margin-top: 10px;
  padding: 8px 30px;
  font-size: 0.75em;
  letter-spacing: 0.35em;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease;
  background: transparent;
  color: #101118;
  margin-right: 15px;
  border: 1px solid #101118;
}

.color-red {
  color: red;
}

.pb-50 {
  padding-bottom: 50px;
}

#edit-category-form {
    margin-bottom: 4rem;
}

.red-btn,
.blue-btn,
.green-btn {
  border: none;
  font-size: 17px;
  letter-spacing: .7px;
  min-height: 32px;
  line-height: 32px;
  padding: 0 16px;
  font-weight: 500;
  margin-left: 15px;
  font-family: 'Bebas Neue';
  color: #fff;
  white-space: nowrap;
  height: 54.2px;
  min-width: 155px;
}

.green-btn {
  background-color: #52BD95;
}

.blue-btn {
  background-color: #3366FF;
}

.red-btn {
  background-color: #D14343;
}

.red-btn-sm,
.blue-btn-sm,
.green-btn-sm {
  border: none;
  font-size: 16px;
  min-height: 32px;
  line-height: 32px;
  padding: 0 16px;
  font-weight: 500;
  font-family: 'Arvo', serif;
  color: #fff;
  white-space: nowrap;
  height: 32px;
  min-width: 110px;
  text-align: center;
  font-family: 'Bebas Neue';
  letter-spacing: .7px;
}

.red-btn-sm:hover,
.blue-btn-sm:hover,
.green-btn-sm:hover {
  color: #fff;
}

.green-btn-sm {
  background-color: #52BD95;
}

.blue-btn-sm {
  background-color: #3366FF;
}

.red-btn-sm {
  background-color: #D14343;
}

.ant-select-single .ant-select-selector {
  border-color: #d9d9d9 !important;
  box-shadow: none !important;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #f1f1f1 !important;
}

.category-item {
  display: inline-block;
  position: relative;
  font-family: 'Arvo', serif;
  padding: 3px 10px;
  margin: 5px;
  font-size: 13px;
  background-color: #F3F6FF;
  color: #2952CC;
  /* border: 1px solid #3366FF; */
  background-color: #101118;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
}

.table-view {
  font-family: 'Arvo', serif;
}

.post-head-style h1 {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 50%;
  font-family: 'Arvo', serif;
  letter-spacing: normal;
}

.post-head-style h1:after {
  border-width: 41px 0 0 34px !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #101118;
  border-color: #101118;
}

.ant-checkbox-checked::after {
  border: 1px solid #101118;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #101118;
}

.status-box {
  text-align: center;
  padding: 5px 10px;
  display: inline-block;
  border: 1px solid;
  line-height: 1;
  font-size: 16px;
  font-family: 'Bebas Neue';
  letter-spacing: .5px;
}

.status-box.Draft {
  color: #996A13;
  border-color: #FFB020;
  background-color: #FFFAF2;
}

.status-box.publish {
  color: #317159;
  border-color: #52BD95;
  background-color: #F5FBF8;
}

.ant-table-thead > tr > th {
  font-family: 'Bebas Neue';
    font-size: 17px;
    letter-spacing: .5px;
}

/* Green */

.green-statis-box {
  color: #317159;
  background-color: #F5FBF8;
  border: 1px solid #52BD95;
}

.green-statis-box h5.statis-title,
.green-statis-box h5 + div a:first-child,
.green-statis-box h5 {
  background: #317159;
  color: #F5FBF8;
}

.green-statis-box h5 + div a:last-child {
  color: #317159;
  background: #F5FBF8;
}

.green-statis-box h4 {
  color: #317159;
}

/* Orange */

.orange-statis-box {
  color: #996A13;
  background-color: #FFFAF2;
  border: 1px solid #FFB020;
}

.orange-statis-box h5.statis-title,
.orange-statis-box h5 + div a:first-child {
  background: #996A13;
  color: #FFFAF2;
}

.orange-statis-box h5 + div a:last-child {
  color: #996A13;
  background: #FFFAF2;
}

.orange-statis-box h4 + div h5,
.orange-statis-box h4 {
  color: #996A13;
}

/* Blue */

.blue-statis-box {
  color: #2952CC;
  background-color: #F3F6FF;
  border: 1px solid #3366FF;
}

.blue-statis-box h5.statis-title,
.blue-statis-box h5 + div a:first-child {
  background: #2952CC;
  color: #F3F6FF;
}

.blue-statis-box h5 + div a:last-child {
  color: #2952CC;
  background: #F3F6FF;
}

.blue-statis-box h4 + div h5,
.blue-statis-box h4 {
  color: #2952CC;
}

/* Tables */

.green-table.ant-table-wrapper .ant-pagination .ant-pagination-item.ant-pagination-item-active a,
.green-table .ant-table-thead > tr > th {
  background: #317159;
  color: #F5FBF8;
}

.green-table .ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  background-color: rgba(255, 255, 255, 0.2);
}

.green-table.ant-table-wrapper .ant-pagination .ant-pagination-item.ant-pagination-item-active {
  border-color: #317159;
  background: #317159;
  color: #F5FBF8;
}

.green-admin-head {
  border-color: #317159 !important;
}

.green-admin-head h1:after {
  border-color: transparent transparent transparent #317159;
}

.green-admin-head .green-btn-sm,
.green-admin-head h1 {
  background: #317159;
  color: #F5FBF8;
}

/* Orange */

.orange-table.ant-table-wrapper .ant-pagination .ant-pagination-item.ant-pagination-item-active a,
.orange-table .ant-table-thead > tr > th {
  background: #996A13;
  color: #FFFAF2;
}

.orange-table .ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  background-color: rgba(255, 255, 255, 0.2);
}

.orange-table.ant-table-wrapper .ant-pagination .ant-pagination-item.ant-pagination-item-active {
  border-color: #996A13;
  background: #996A13;
  color: #FFFAF2;
}

.orange-admin-head {
  border-color: #996A13 !important;
}

.orange-admin-head h1:after {
  border-color: transparent transparent transparent #996A13;
}

.orange-admin-head .green-btn-sm,
.orange-admin-head h1 {
  background: #996A13;
  color: #FFFAF2;
}

/* Blue */

.blue-table.ant-table-wrapper .ant-pagination .ant-pagination-item.ant-pagination-item-active a,
.blue-table .ant-table-thead > tr > th {
  background: #2952CC;
  color: #F3F6FF;
}

.blue-table .ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  background-color: rgba(255, 255, 255, 0.2);
}

.blue-table.ant-table-wrapper .ant-pagination .ant-pagination-item.ant-pagination-item-active {
  border-color: #2952CC;
  background: #2952CC;
  color: #F3F6FF;
}

.blue-admin-head {
  border-color: #2952CC !important;
}

.blue-admin-head h1:after {
  border-color: transparent transparent transparent #2952CC;
}

.blue-admin-head .green-btn-sm,
.blue-admin-head h1 {
  background: #2952CC;
  color: #F3F6FF;
}

/* Forms */

.green-category-form button {
  background: #317159;
  color: #F5FBF8;
}

/* Orange */


.orange-category-form .blogBox .green-btn-sm,
.orange-category-form .blogBox h5 {
  background: #996A13;
  color: #FFFAF2;
}

.orange-category-form .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #996A13;
  border-color: #996A13;
}

.orange-category-form .ant-checkbox-checked::after {
  border: 1px solid #996A13;
}

.orange-category-form .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #996A13;
}

.orange-category-form .ant-checkbox-checked .ant-checkbox-inner::after {
  border: 2px solid #FFFAF2;
  border-top: 0;
    border-left: 0;
}

/* Blue */

.blue-category-form .blogBox .green-btn-sm,
.blue-category-form .blogBox h5 {
  background: #2952CC;
  color: #F3F6FF;
}

.blue-category-form .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #2952CC;
  border-color: #2952CC;
}

.blue-category-form .ant-checkbox-checked::after {
  border: 1px solid #2952CC;
}

.blue-category-form .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #2952CC;
}

.blue-category-form .ant-checkbox-checked .ant-checkbox-inner::after {
  border: 2px solid #F3F6FF;
  border-top: 0;
    border-left: 0;
}